* {
    box-sizing: border-box;
    color: black;
    font-size: 24px;
}

body {
    background-image: url(../images/worldmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background-color: rgb(17, 212, 17);
    opacity: 0.5;
    border: 3px solid deepskyblue;
    border-radius: 10px;
    text-align: center;
}

#answerArray {
    font-size: 30px;
    font-weight: bold;
}

.well {
    opacity: 0.4;
}

h1 {
    font-family: 'Bungee Inline', cursive;
}

